body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}

.App-logo {
  font-size: 2em;
  color: #000080;
}

.Upload-button {
  background-color: #905CF7;
  position: absolute;
  top: 50px;
  right: 50px; /* Adjust as needed for right-side margin */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 140px);
  background-color: transparent;
}

.code-input-container {
  text-align: center;
  margin-top: 30px;
  background-color: transparent;
}

.code-input-label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.code-input-field {
  font-size: 18px;
  letter-spacing: 10px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
  width: 15vw;
  background-color: transparent;
}

button.access-file-button {
  background-color: #905CF7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.kite-link {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 40px;
  color: white;
  text-decoration: none;
}