.upload-container {
  display: flex;
  flex-direction: column; /* Stack vertically on smaller screens */
  align-items: center;
  justify-content: center; /* Center children vertically and horizontally */
  min-width: 10vh;
  min-height: 25vh; /* Full viewport height */
  background-color: white;
  box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

@media (min-width: 768px) {
  /* Adjust for larger screens */
  .upload-container {
    flex-direction: row; /* Side by side for larger screens */
    justify-content: space-evenly; /* Even spacing around children */
    align-items: center; /* Align items at the center */
  }
}

.unsupported-file-message {
  position: absolute;
  top: 20vh; /* Position at the top of the parent container */
  font-size: 2.5vh;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for exact centering */
  display: inline-block; /* Adjust width to fit content */
  text-align: center; /* Ensure the text is centered */
  color: red;
  background-color: white; /* Background color around the text */
  padding: 0.5vh 1vh; /* Add some space around the text */
  margin-top: 2vh; /* Adjust as needed for spacing from the top */
  border-radius: 1vh; /* Optional: Adds rounded corners for aesthetic */
}


.drop-zone {
  border: 2px dashed #69b3e7;
  border-radius: 2vh;
  width: 60vh; /* Adjust based on your preference */
  padding: 3vh; /* Padding inside the drop-zone */
  text-align: center;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 2vh; /* Space below the drop-zone */
}

.drop-zone.active {
  background-color: rgba(1, 179, 255, 0.204);
}

.drop-message {
  font-size: 2vh;
  color: #333;
}

.upload-link {
  color: #69b3e7;
  text-decoration: underline;
  cursor: pointer;
}

.file-input {
  opacity: 0; /* Hide the file input */
}

.file-display-container {
  margin-top: 2vh;
  overflow-y: auto; /* Enable scrolling for overflow */
  max-height: 30vh; /* Limit height and enable scroll */
}

.file-status-bar {
  display: flex;
  align-items: center;
  padding: 1vh;
  margin-bottom: 1vh;
  background-color: #eee;
  border-radius: 1vh;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
}

.file-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.file-name,
.file-size {
  margin-left: 1vh;
  margin-right: 1vh;
}

.upload-actions-container {
  display: flex;
  flex-direction: column; /* This will ensure elements inside are stacked vertically */
  align-items: center; /* Center-align the items if desired */
  width: 100%; /* Take up full width to respect inner elements' margins */
}

button {
  padding: 1vh 2vh;
  border-radius: 2vh;
  background-color: #69b3e7;
  color: white;
  font-size: 2vh;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #578abd;
}

.settings-container {
  width: 40vh; /* Adjust the width of settings container */
  padding: 2vh;
  background-color: white;
  border-radius: 2vh;
  margin-left: 2vh; /* Space between the drop-zone and settings on larger screens */
}

.setting {
  margin-bottom: 2vh;
  width: 20vh;
}

.setting label {
  display: block;
  font-size: 1.5vh;
  color: #333;
}

.setting select,
.setting input[type="text"],
.setting input[type="password"] {
  width: 100%;
  padding: 1vh;
  margin-top: 1vh;
  border: 1px solid #ddd;
  border-radius: 1vh;
}

.setting button {
  padding: 1vh 2vh;
  margin-top: 1vh;
}

.peek-button {
  margin-left: auto;
}

.total-size-color {
  color: rgb(0, 4, 255);
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(58, 55, 55);
}

.delete-button:hover {
  background-color: transparent;
  color: red;
}

.unsupported-file-message {
  color: red;
  margin-bottom: 2vh;
}