.upload-container {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  /* Adjust for larger screens */
  .upload-container {
    flex-direction: row; /* Side by side for larger screens */
    justify-content: space-evenly; /* Even spacing around children */
    align-items: center; /* Align items at the center */
  }
}

.progress-bar {
  background-color: #905CF7;
  border-radius: 20px;
  margin: 20px 0;
  padding: 3px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.progress {
  background-color: #FF99E8;
  height: 20px;
  border-radius: 15px;
  transition: width 0.4s ease;
  line-height: 20px; /* Align text vertically */
  color: white;
  font-weight: bold;
  text-align: center;
  width: 0%; /* Start with 0% width */
}

.progress::after {
  content: "Uploading...";
  position: relative;
  white-space: nowrap;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
}

.upload-message {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333; /* Dark grey for readability */
  background-color: #f8f8f8; /* Light background */
  padding: 15px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.progress-complete::after {
  content: "Uploaded";
}

.code-box {
  background-color: #FAFFFD;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button-container button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #905CF7;
  color: #FAFFFD;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container button:hover {
  background-color: #FF99E8;
}

/* QR Code styling */
.qr-code-container {
  margin-top: 20px;
}

.qr-code-container canvas {
  border: 5px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}