body {
    background-color: #FAFFFD;
    color: #FAFFFD;
    /* font-family: 'Didact Gothic', sans-serif; */
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

img {
    width: 6%;
    margin: 2px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.out-top {
    animation: rotate 26s linear infinite;
    transform-origin: 13px 25px;
}

.in-top {
    animation: rotate 13s linear infinite;
    transform-origin: 13px 25px;
}

.out-bottom {
    animation: rotate 29s linear infinite;
    transform-origin: 84px 93px;
}

.in-bottom {
    animation: rotate 20s linear infinite;
    transform-origin: 84px 90px;
}